.cartComponent {
  @include customGridColumn(1, 5, 1, 9, 5, 9, 7, 13);
  box-sizing: border-box;
  padding: 10px;
  align-self: flex-start;
  @include breakpoint-medium {
    padding: 20px;
  }

  &__title {
    @include customGridColumn(1, 5, 1, 9, 1, 9, 1, 13);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  &__additional-info {
    @include customGridColumn(1, 5, 1, 9, 1, 9, 1, 13);  
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-self: center;
  }

  .cardItem {
    position: relative;
    @include columnSpan(4);

    @include breakpoint-medium {
      @include columnSpan(8);
    }

    @include breakpoint-desktop {
      @include columnSpan(12);
    }

    min-height: 350px;
    font-weight: bold;
    align-items: flex-end;

    @include breakpoint-large {
      min-height: 300px;
    }

    @include breakpoint-desktop {
      min-height: 200px;
    }

    &__cover {
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-self: center;
      @include columnSpan(4);
      @include breakpoint-medium {
        @include columnSpan(4);
      }
    }

    &__content-container {
      display: flex;
      @include columnSpan(4);
      justify-content: space-between;
      align-self: center;
      @include breakpoint-medium {
        @include columnSpan(4);
      }

      @include breakpoint-desktop {
        @include columnSpan(8);
      }

      button {
        position: absolute;
        color: #ff0000;
        font-weight: bold;
        top: 0;
        right: 0;
        background: none;
        border: none;
        font-size: 20px;
        outline: none;
        cursor: pointer;
      }
    }

    p {
      padding: 0 5px;
    }
  }

  .cartSummary {
    @include customGridColumn(1, 5, 1, 9, 1, 9, 1, 13);  
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    p:first-child {
      padding: 0 10px;
    }
    p:last-child {
      padding-left: 5px;
    }
  }
}