$small: 320px;
$medium: 768px;
$large: 1044px;
$desktop: 1440px;

@mixin breakpoint-small() {
  @media (min-width: #{$small}) {
    @content
  }
}

@mixin breakpoint-medium() {
  @media (min-width: #{$medium}) {
    @content
  }
}

@mixin breakpoint-large() {
  @media (min-width: #{$large}) {
    @content
  }
}

@mixin breakpoint-desktop() {
  @media (min-width: #{$desktop}) {
    @content
  }
}