.grid {
  display: grid;
  align-items: center;
  grid-row-gap: 15px;
  box-sizing: content-box;
  margin: 0 auto;

  @include breakpoint-small(){
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    width: 100%;
  }

  @include breakpoint-medium(){
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    width: 100%;
  }

  @include breakpoint-large(){
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    width: 100%;
    max-width: 1188px;
  }

  @include breakpoint-desktop(){
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 22px;
  }

  .span-2{
    grid-column: span 2;
  }
  .span-1{
    grid-column: span 1;
  }
  .span-3{
    grid-column: span 3;
  }
  .span-4{
    grid-column: span 4;
  }
  .span-5{
    grid-column: span 5;
  }
}

@mixin columnSpan($number) {
  grid-column: span $number;
}

@mixin grid-column-start-end($start, $end){
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin small-column($start, $end){
  @include breakpoint-small(){
    @include grid-column-start-end($start, $end);
  }
}

@mixin medium-column($start, $end){
  @include breakpoint-medium(){
    @include grid-column-start-end($start, $end);
  }
}

@mixin large-column($start, $end){
  @include breakpoint-large(){
    @include grid-column-start-end($start, $end);
  }
}

@mixin desktop-column($start, $end){
  @include breakpoint-desktop(){
    @include grid-column-start-end($start, $end);
  }
}

@mixin defaultGrid() {
  @include subGridSmall(4);
  @include subGridMedium(8);
  @include subGridLarge(8);
  @include subGridDesktop(12);
}


@mixin customGrid($small, $medium, $large, $desktop) {
  @include subGridSmall($small);
  @include subGridMedium($medium);
  @include subGridLarge($large);
  @include subGridDesktop($desktop);
}

@mixin defaultGridColumn() {
  @include small-column(1, 5);
  @include medium-column(1, 9);
  @include large-column(1, 9);
  @include desktop-column(1, 13)
}


@mixin customGridColumn(
  $scolstart, $scolend, $mcolstart, $mcolend, $lcolstart, $lcolend, $dcolstart, $dcolend
) {
  @include small-column($scolstart, $scolend);
  @include medium-column($mcolstart, $mcolend);
  @include large-column($lcolstart, $lcolend);
  @include desktop-column($dcolstart, $dcolend)
}