.productsComponent {
  @include customGridColumn(1, 5, 1, 9, 1, 5, 1, 7);
  box-sizing: border-box;
  padding: 10px;
  align-self: flex-start;
  @include breakpoint-medium {
    padding: 20px;
  }

  &__title {
    @include customGridColumn(1, 5, 1, 9, 1, 9, 1, 13);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .productItem {
    display: grid;
    position: relative;
    @include columnSpan(4);
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 30px 10px 10px;
    height: 100%;
    min-height: 400px;
    color: #fff;
    font-weight: bold;
    align-items: flex-end;

    @include breakpoint-large {
      min-height: 300px;
    }

    @include breakpoint-desktop {
      min-height: 200px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h4, p, button {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      text-align: center;
      height: auto;
    }

    button {
      cursor: pointer;
    }

    h4, p {
      font-size: 20px;
    }
  }
}